@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Heebo", system-ui, sans-serif;
  color: #0f172a;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
